app/stories/xml-a.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="story">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="step" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nextStep" maxOccurs="unbounded" minOccurs="0"/>
              <xs:element type="xs:string" name="description" use="optional"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="win" use="optional" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
            <xs:attribute type="xs:string" name="title" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
